misc/ncx/ncx-audio.rng

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="rng2xhtml.xslt"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://urakawa.sourceforge.net/ns-sandbox/annotations"
  ns="http://www.daisy.org/z3986/2005/ncx/"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  a:title="Audio-only NCX grammar">

  <a:desc>
    This is a modified version of the NCX that supports audio only. The only
    difference with the regular NCX is that <a:elem>img</a:elem> is not
    allowed anywhere. (It normally is allowed inside <a:ref
      name="docTitle-elem">docTitle</a:ref>, <a:ref
      name="docAuthor-elem">docAuthor</a:ref>, <a:ref
      name="navLabel-elem">navLabel</a:ref> and <a:ref
      name="navInfo-elem">navInfo</a:ref>.)
  </a:desc>

  <start>
    <a:desc>An audio-only NCX.</a:desc>
    <ref name="ncx-elem"/>
  </start>

  <define name="ncx-elem">
    <a:desc>The root element.</a:desc>
    <element name="ncx">
      <ref name="i18n-attrs"/>
      <attribute name="version">
        <value>2005-1</value>
      </attribute>
      <ref name="head-elem"/>
      <ref name="docTitle-elem"/>
      <zeroOrMore>
        <ref name="docAuthor-elem"/>
      </zeroOrMore>
      <ref name="navMap-elem"/>
      <optional>
        <ref name="pageList-elem"/>
      </optional>
      <zeroOrMore>
        <ref name="navList-elem"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="head-elem">
    <a:desc>Contains smilCustomTest data and metadata.</a:desc>
    <element name="head">
      <oneOrMore>
        <choice>
          <ref name="smil-custom-test-elem"/>
          <ref name="meta-elem"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="smil-custom-test-elem">
    <a:desc>
      Duplicates customTest data found in SMIL files. Each unique customTest
      element that appears in one or more SMIL files and has been referenced
      at least once by a customTest attribute will have three of its
      attributes (id, override, and defaultState) duplicated in a
      smilCustomTest element in the NCX. The NCX thus gathers in one place all
      customTest elements used in the SMIL files, along with their
      defaultState setting, for presentation to the user. When a customTest
      element in SMIL has been applied to a time container holding one of the
      book structures defined in section 8.4.4 "smilCustomTest Element", the
      bookStruct attribute must be applied to the corresponding smilCustomTest
      and contain the appropriate value from the enumerated list.
    </a:desc>
    <element name="smilCustomTest">
      <ref name="id-attr"/>
      <optional>
        <attribute name="defaultState">
          <a:comment>Default value is <a:strong>false</a:strong>.</a:comment>
          <choice>
            <value>true</value>
            <value>false</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="override">
          <a:comment>Default value is <a:strong>hidden</a:strong>.</a:comment>
          <choice>
            <value>visible</value>
            <value>hidden</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="bookStruct">
          <choice>
            <value>PAGE_NUMBER</value>
            <value>NOTE</value>
            <value>NOTE_REFERENCE</value>
            <value>ANNOTATION</value>
            <value>LINE_NUMBER</value>
            <value>OPTIONAL_SIDEBAR</value>
            <value>OPTIONAL_PRODUCER_NOTE</value>
          </choice>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>

  <define name="meta-elem">
    <a:desc>Contains metadata applicable to the NCX file.</a:desc>
    <a:comment>
      Name values are: dtb:uid (required), dtb:depth (required), dtb:generator
      (recommended), dtb:totalPageCount (required) and dtb:maxPageNumber
      (required.) None of them actually use the scheme attribute apparently.
    </a:comment>
    <element name="meta">
      <attribute name="name"/>
      <attribute name="content"/>
      <optional>
        <attribute name="scheme"/>
      </optional>
      <empty/>
    </element>
  </define>

  <define name="docTitle-elem">
    <a:desc>
      The title of the document, presented as text and, optionally, in audio
      rendering, for presentation to the reader.
    </a:desc>
    <a:comment>
      There is no required relationship between the content of <a:ref
        name="docTitle-elem">docTitle</a:ref> in the NCX and the content of
      the <a:elem>doctitle</a:elem> element in the textual content file, if it
      exists.
    </a:comment>
    <element name="docTitle">
      <ref name="title-author-content"/>
    </element>
  </define>

  <define name="docAuthor-elem">
    <a:desc>
      The author of the document, presented as text and, optionally, in audio
      or image renderings, for presentation to the reader. 
    </a:desc>
    <a:comment>
      There is no required relationship between the content of <a:ref
        name="docAuthor-elem">docAuthor</a:ref> in the NCX and the content of
      the <a:elem>docauthor</a:elem> element(s) in the textual content file,
      if it exists.
    </a:comment>
    <element name="docAuthor">
      <ref name="title-author-content"/>
    </element>
  </define>

  <define name="title-author-content">
    <a:desc>
      The common content of <a:ref name="docTitle-elem">docTitle</a:ref> and
      <a:ref name="docAuthor-elem">docAuthor</a:ref>.
    </a:desc>
    <ref name="opt-id-attr"/>
    <ref name="text-opt-audio"/>
  </define>

  <define name="text-elem">
    <a:desc>
      Contains the text of a <a:ref name="docTitle-elem">docTitle</a:ref> or
      <a:ref name="docAuthor-elem">docAuthor</a:ref> or text content of a
      <a:ref name="navLabel-elem">navLabel</a:ref> or <a:ref
        name="navInfo-elem">navInfo</a:ref>.
    </a:desc>
    <element name="text">
      <ref name="opt-id-attr"/>
      <ref name="opt-class-attr"/>
      <text/>
    </element>
  </define>

  <define name="audio-elem">
    <a:desc>
      Contains a pointer to an audio clip of a <a:ref
        name="docTitle-elem">docTitle</a:ref> or <a:ref
        name="docAuthor-elem">docAuthor</a:ref>, or of the audio content of a
      <a:ref name="navLabel-elem">navLabel</a:ref> or <a:ref
        name="navInfo-elem">navInfo</a:ref>.
    </a:desc>
    <element name="audio">
      <ref name="opt-id-attr"/>
      <ref name="opt-class-attr"/>
      <ref name="src-attr"/>
      <attribute name="clipBegin">
        <ref name="smil-timing"/>
      </attribute>
      <attribute name="clipEnd">
        <ref name="smil-timing"/>
      </attribute>
    </element>
  </define>

  <define name="text-and-or-audio">
    <a:desc>
      At least one of <a:ref name="text-elem">text</a:ref> or <a:ref
        name="audio-elem">audio</a:ref> and possibly both.
    </a:desc>
    <choice>
      <ref name="text-opt-audio"/>
      <ref name="audio-elem"/>
    </choice>
  </define>

  <define name="text-opt-audio">
    <a:desc>
      A <a:ref name="text-elem">text</a:ref> followed by an optional <a:ref
        name="audio-elem">audio</a:ref>.
    </a:desc>
    <ref name="text-elem"/>
    <optional>
      <ref name="audio-elem"/>
    </optional>
  </define>

  <define name="navMap-elem">
    <a:desc>Container for primary navigation information.</a:desc>
    <a:comment>
      The <a:ref name="navMap-elem">navMap</a:ref> element contains the primary
      navigation information, pointing to each of the major structural elements
      of the document. Page numbers are contained in <a:ref
        name="pageList-elem">pageList</a:ref>. Other secondary navigation
      elements, such as footnotes, are not included in <a:ref
        name="navMap-elem">navMap</a:ref>, but are contained in <a:ref
        name="navList-elem">navList</a:ref>s.
    </a:comment>
    <element name="navMap">
      <ref name="opt-id-attr"/>
      <ref name="info-label"/>
      <oneOrMore>
        <ref name="navPoint-elem"/>
      </oneOrMore>
    </element>
  </define>

  <define name="navPoint-elem">
    <a:desc>Contains description(s) of target and pointer to content.</a:desc> 
    <a:comment>
      The <a:ref name="navPoint-elem">navPoint</a:ref> element contains one or
      more <a:ref name="navLabel-elem">navLabel</a:ref>s, representing the
      referenced part of the document, <a:em>e.g.</a:em> chapter title or
      section number, along with a pointer to content. <a:ref
        name="navPoint-elem">navPoint</a:ref>s may be nested to represent the
      hierarchical structure of a document.
    </a:comment>
    <element name="navPoint">
      <ref name="id-attr"/>
      <ref name="opt-class-attr"/>
      <ref name="playOrder-attr"/>
      <oneOrMore>
        <ref name="navLabel-elem"/>
      </oneOrMore>
      <ref name="content-elem"/>
      <zeroOrMore>
        <ref name="navPoint-elem"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="navLabel-elem">
    <a:desc>
      Contains a label identifying a given <a:ref
        name="navMap-elem">navMap</a:ref>, <a:ref
        name="navPoint-elem">navPoint</a:ref>, <a:ref
        name="pageList-elem">pageList</a:ref>, <a:ref
        name="pageTarget-elem">pageTarget</a:ref>, <a:ref
        name="navList-elem">navList</a:ref>, or <a:ref
        name="navTarget-elem">navTarget</a:ref> in various media for
      presentation to the user. When applied to <a:ref
        name="navPoint-elem">navPoint</a:ref>s, it generally contains the
      heading of the referenced section of the document. Can be repeated so
      labels can be provided in multiple languages.</a:desc>
    <element name="navLabel">
      <ref name="i18n-attrs"/>
      <ref name="text-and-or-audio"/>
    </element>
  </define>

  <define name="navInfo-elem">
    <a:desc>
      Contains an informative comment about a <a:ref
        name="navMap-elem">navMap</a:ref>, <a:ref
        name="pageList-elem">pageList</a:ref>, or <a:ref
        name="navList-elem">navList</a:ref> in various media for presentation
      to the user. Can be repeated so comments can be provided in multiple
      languages.
    </a:desc>
    <a:comment>
      While <a:ref name="navLabel-elem">navLabel</a:ref> contains a brief
      identifying label for a <a:ref name="navMap-elem">navMap</a:ref>,
      <a:ref name="pageList-elem">pageList</a:ref>, or <a:ref
        name="navList-elem">navList</a:ref>, <a:ref
        name="navInfo-elem">navInfo</a:ref> is used to present longer,
      explanatory or informative text regarding the structure or content of
      these navigation features.
    </a:comment>
    <element name="navInfo">
      <ref name="i18n-attrs"/>
      <ref name="text-and-or-audio"/>
    </element>
  </define>

  <define name="content-elem">
    <a:desc>
      Pointer into SMIL file to beginning of the item referenced by the <a:ref
        name="navPoint-elem">navPoint</a:ref> or <a:ref
        name="navTarget-elem">navTarget</a:ref>.
    </a:desc>
    <element name="content">
      <ref name="opt-id-attr"/>
      <ref name="src-attr"/>
    </element>
  </define>

  <define name="pageList-elem">
    <a:desc>Container for pagination information.</a:desc>
    <a:comment>
      The <a:ref name="pageList-elem">pageList</a:ref> element contains
      navigation information for pages within <a:ref
        name="pageTarget-elem">pageTarget</a:ref>s. Each navigable page within
      the book will be represented by a <a:ref
        name="pageTarget-elem">pageTarget</a:ref> within the <a:ref
        name="pageList-elem">pageList</a:ref>.
    </a:comment>
    <element name="pageList">
      <ref name="opt-id-attr"/>
      <ref name="opt-class-attr"/>
      <ref name="info-label"/>
      <oneOrMore>
        <ref name="pageTarget-elem"/>
      </oneOrMore>
    </element>
  </define>

  <define name="pageTarget-elem">
    <a:desc>
      Container for text, audio, and content elements containing navigational
      information for pages.
    </a:desc>
    <element name="pageTarget">
      <ref name="id-attr"/>
      <ref name="page-type-attrs"/>
      <ref name="opt-class-attr"/>
      <ref name="playOrder-attr"/>
      <oneOrMore>
        <ref name="navLabel-elem"/>
      </oneOrMore>
      <ref name="content-elem"/>
    </element>
  </define>

  <define name="navList-elem">
    <a:desc>Container for secondary navigational information.</a:desc>
    <a:comment>
      The <a:ref name="navList-elem">navList</a:ref> element contains secondary
      navigation information within <a:ref
        name="navTarget-elem">navTarget</a:ref>s. It is similar to <a:ref
        name="navMap-elem">navMap</a:ref> except <a:ref
        name="navTarget-elem">navTarget</a:ref>s may not nest, whereas <a:ref
        name="navPoint-elem">navPoint</a:ref>s can. Used for lists of elements
      such as footnotes, figures, tables, etc. that the user may want to access
      directly but would clutter up the primary navigation information.
    </a:comment>
    <element name="navList">
      <ref name="opt-id-attr"/>
      <ref name="opt-class-attr"/>
      <zeroOrMore>
        <ref name="navInfo-elem"/>
      </zeroOrMore>
      <oneOrMore>
        <ref name="navLabel-elem"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="navTarget-elem"/>
      </oneOrMore>
    </element>
  </define>

  <define name="navTarget-elem">
    <a:desc>
      Container for text, audio, and content elements containing secondary
      navigational information.
    </a:desc>
    <a:comment>
      The <a:ref name="navTarget-elem">navTarget</a:ref> element contains one
      or more <a:ref name="navLabel-elem">navLabel</a:ref>s representing the
      referenced part of the document, <a:em>e.g.</a:em>, a footnote, along
      with a pointer to <a:ref name="content-elem">content</a:ref>.
    </a:comment>
    <element name="navTarget">
      <ref name="id-attr"/>
      <optional>
        <attribute name="value">
          <data type="nonNegativeInteger"/>
        </attribute>
      </optional>
      <ref name="opt-class-attr"/>
      <ref name="playOrder-attr"/>
      <oneOrMore>
        <ref name="navLabel-elem"/>
      </oneOrMore>
      <ref name="content-elem"/>
    </element>
  </define>

  <define name="info-label">
    <zeroOrMore>
      <ref name="navInfo-elem"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="navLabel-elem"/>
    </zeroOrMore>
  </define>

  <define name="opt-class-attr">
    <a:desc>Class attribute, always optional.</a:desc>
    <optional>
      <attribute name="class"/>
    </optional>
  </define>

  <define name="id-attr">
    <a:desc>Id attribute.</a:desc>
    <attribute name="id">
      <data type="ID"/>
    </attribute>
  </define>

  <define name="opt-id-attr">
    <optional>
      <ref name="id-attr"/>
    </optional>
  </define>

  <define name="i18n-attrs">
    <a:desc>Internationalization attributes</a:desc>
    <optional>
      <attribute name="xml:lang">
        <data type="language"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="dir">
        <choice>
          <value>ltr</value>
          <value>rtl</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="page-type-attrs">
    <a:desc>Page number and type attributes.</a:desc>
    <attribute name="value">
      <data type="nonNegativeInteger"/>
    </attribute>
    <attribute name="type">
      <choice>
        <value>front</value>
        <value>normal</value>
        <value>special</value>
      </choice>
    </attribute>
  </define>

  <define name="playOrder-attr">
    <a:desc>Order in the playback sequence, starting from 1.</a:desc>
    <attribute name="playOrder">
      <data type="positiveInteger"/>
    </attribute>
  </define>

  <define name="smil-timing">
    <a:desc>SMIL timing value.</a:desc>
    <a:comment>Actually:
      <a:pre>    Clip-value-MediaClipping ::= [ "npt=" ] Clock-value
    Clock-value              ::= ( Full-clock-value | Partial-clock-value | Timecount-value )
    Full-clock-value         ::= Hours ":" Minutes ":" Seconds ("." Fraction)?
    Partial-clock-value      ::= Minutes ":" Seconds ("." Fraction)?
    Timecount-value          ::= Timecount ("." Fraction)? (Metric)?
    Metric                   ::= "h" | "min" | "s" | "ms"
    Hours                    ::= DIGIT+; any positive number
    Minutes                  ::= 2DIGIT; range from 00 to 59
    Seconds                  ::= 2DIGIT; range from 00 to 59
    Fraction                 ::= DIGIT+
    Timecount                ::= DIGIT+
    2DIGIT                   ::= DIGIT DIGIT
    DIGIT                    ::= [0-9]</a:pre>
    </a:comment>
    <text/>
  </define>

  <define name="src-attr">
    <a:desc>Source attribute for audio clips of SMIL time containers.</a:desc>
    <attribute name="src">
      <data type="anyURI"/>
    </attribute>
  </define>

</grammar>
